 

<div mat-dialog-content>
     
            <table class="mb-0 table">
                
                <tbody>
                    <tr *ngFor="let object  of obj.detail">
                         
                        <th>
                        <mat-form-field appearance="fill">
                            <mat-label>N_Série</mat-label>
                            <mat-select >
                                <!-- "  -->
                               <mat-option value="item.n_Serie" *ngFor="let item of numero_Serie ; let i=index"   (click)="save(item.n_Serie,object,i)"  >{{item.n_Serie}}</mat-option>
                                
                            </mat-select>
                         </mat-form-field>
                       
                       </th> 

                    </tr> 
                </tbody>
            </table>
         

<div mat-dialog-actions class="float-right">
    <button class="mb-2 mr-2 btn btn-primary" (click)="close()">Fermer</button>
</div>