 
<div class="position-relative custom-control">
    <section>
        <mat-form-field class="custom-width" [formGroup]="form">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" formControlName="id" (keyup)="filtre()" id="id">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>

        <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
            <mat-label>Source</mat-label>
            <input matInput placeholder="Source" formControlName="src" (keyup)="filtre()" id="responsable">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>
        
        <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
            <mat-label>Destination</mat-label>
            <input matInput placeholder="Destination" formControlName="des" (keyup)="filtre()" id="local">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>
    </section>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
         

        <!--Colonne id -->
        <ng-container matColumnDef="id">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ID" > {{element.id_Bon_Transfert}} </mat-cell>
        </ng-container>
        <!--Colonne responsable -->
        <ng-container matColumnDef="responsable">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> responsable </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="user"> {{element.responsable}}</mat-cell>
        </ng-container>
         
        
        <!--Colonne Ancien ID -->
        <ng-container matColumnDef="src">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Local Source </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="src"> {{element.local_Source}} </mat-cell>
        </ng-container>
         <!--Colonne Réclamation -->
         <ng-container matColumnDef="des">
            <mat-header-cell  *matHeaderCellDef mat-sort-header > Local Destination </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="des"> {{element.local_Destination}} </mat-cell>
        </ng-container>

        <!--Colonne supprimer -->
        <ng-container matColumnDef="supprimer">
            <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;"> 
                <i class="pe-7s-trash btn-r" title="Supprimer Le Bon" (click)="supprimer(element.id_Bon_Transfert)"></i>
                <i style="margin-left: 20px;" class="pe-7s-look btn-b" title="Voir PDF" (click)="pdf(element.id_Bon_Transfert)"></i>
                <i style="margin-left: 20px;" class="pe-7s-cloud-download btn-b" (click)="telecharger(element.id_Bon_Transfert)" title="Télécharger PDF"></i>
            </mat-cell>
        </ng-container>

        
       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>