
 <div class="app-page-title">
    <div class="page-title-wrapper">
       <div class="page-title-heading">
          <div class="page-title-icon">
             <i class="pe-7s-note2 icon-gradient bg-happy-fisher">
             </i>
          </div>
       <h4>Stockage</h4>  
       </div>
    </div>
 </div>
 <div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
       <div class="main-card mb-3 card">
          <div class="card-body">
             <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                <li class="nav-item">
                   <a   (click)="fnoption1()" [ngClass]="{'active': option1}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Entree">
                   <span>Bon de Réceptions</span>
                   </a>
                </li>               
                <li class="nav-item"  >
                   <a  (click)="fnoption2()" [ngClass]="{'active': option2}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Bon_Transfert">
                   <span>Bon de Transfert</span> 
                   </a>
                </li>
                <li class="nav-item">
                  <a (click)="fnoption3()" [ngClass]="{'active': option3}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Lister_Bon_Transfert">
                     <span>Liste Bon Transfert</span>
                   </a>
                </li> 

                <li class="nav-item">
                  <a (click)="fnoption4()" [ngClass]="{'active': option4}"role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Bon_Retour">
                  <span>Bon de Retour</span> 
                  </a>
               </li>
               <li class="nav-item">
                 <a (click)="fnoption5()" [ngClass]="{'active': option5}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Lister_Bon_Retour">
                    <span>Liste Bon Retour</span>
                  </a>
               </li> 
                
                <li class="nav-item">
                  <a (click)="fnoption6()" [ngClass]="{'active': option6}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Bon_Sortie">
                  <span>Bon de Sortie </span>
                  </a>
               </li> 
               <li class="nav-item">
                 <a (click)="fnoption7()" [ngClass]="{'active': option7}" role="tab" class="nav-link" routerLink="/Menu/WMS-Stockage/Lister_Bon_Sortie">
                 <span>Liste Bon Sortie</span>
                 </a>
              </li>   
             </ul>
             <router-outlet></router-outlet>
          </div>
       </div>
    </div>
 </div>
  