 
<div class="position-relative custom-control">
    <section>
        <mat-form-field class="custom-width" [formGroup]="form">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" formControlName="id" (keyup)="filtre()" id="id">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>

        <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
            <mat-label>Responsable</mat-label>
            <input matInput placeholder="responsable" formControlName="responsable" (keyup)="filtre()" id="responsable">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>
        
        <mat-form-field class="custom-width" [formGroup]="form" style="margin-left: 1%;">
            <mat-label>Local</mat-label>
            <input matInput placeholder="Local" formControlName="local" (keyup)="filtre()" id="local">
            <i matSuffix class="fa fa-filter" aria-hidden="true"></i>
        </mat-form-field>
    </section>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
         

        <!--Colonne id -->
        <ng-container matColumnDef="id">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ID" > {{element.id}} </mat-cell>
        </ng-container>
        <!--Colonne responsable -->
        <ng-container matColumnDef="responsable">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> responsable </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="responsable"> {{element.responsable}}</mat-cell>
        </ng-container>
         
        
        <!--Colonne Ancien ID -->
        <ng-container matColumnDef="local">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Local"> {{element.local}} </mat-cell>
        </ng-container>
         <!--Colonne Réclamation -->
         <ng-container matColumnDef="reclamation">
            <mat-header-cell  *matHeaderCellDef mat-sort-header > Réclamation </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Réclamation"> {{element.reclamation}} </mat-cell>
        </ng-container>

        <!--Colonne supprimer -->
        <ng-container matColumnDef="supprimer">
            <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;"> <i class="pe-7s-trash btn-r" title="Supprimer Le Bon"
                    (click)="supprimer(element.id)"></i> </mat-cell>
        </ng-container>

        
        <!--Colonne Voir_pdf -->
        <ng-container matColumnDef="Voir_pdf">
            <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index;" style="text-align: center;"> <i class="pe-7s-look btn-b" title="Voir PDF"
                    (click)="pdf(element.id)"></i>
                </mat-cell>
        </ng-container>

         <!--Colonne exporter_pdf -->
         <ng-container matColumnDef="exporter_pdf">
            <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index;" style="text-align: center;"> <i class="pe-7s-cloud-download btn-b"
                    (click)="telecharger(element.id)" title="Télécharger PDF"></i> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>